{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>

  <!-- Enlaces en la esquina superior izquierda -->
    <!-- Enlaces en la esquina superior izquierda -->

    <div class="contenedor-login">
        <a href="login">Iniciar sesión</a><br>
      </div>

    <div class="navbar-custom d-flex">
        <a><img src="{% static 'data/logoHospital.png' %}" alt="Logo" class="logo"></a>
        <a href="/nosotros">Nosotros</a>
        <a href="/servicios">Servicios</a>
        <a href="/doctores">Doctores</a>
        <a href="#contacto">Contactanos</a>
      </div>

      <section class="hero">
        <div class="hero-left">

          <h1>Tu Bienestar, <br>Nuestra Prioridad</h1>
          <p>Accede de manera rápida y segura a tus citas, resultados de exámenes y servicios de salud, todo en un solo lugar. Estamos comprometidos con tu bienestar y el de tu familia.</p>

        </div>
        <div class="hero-right">
          <img src="{% static 'data/menuPerfil.png' %}" alt="Doctores">
        </div>
      </section>
</body>
</html>